*{
    margin: 0;
    padding: 0;
  }
  .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }
  
    .upheader {
      overflow: hidden;
      background-color:#f8e588 ;
      padding: 10px 5px;
    }
  
    .upheader a:hover {
      background-color: rgb(193, 31, 31);
      color: black;
    }
  
    .header-left {
          float: right;
    }
  
    .header-left a {
      color: royalblue;
      font-weight: bold;
      display:inline-block;
      text-decoration: dotted;
      border-radius: 2px;
    }
    
    /* Style the header links */
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: aqua;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }
  
    .header img {
      float: left;
    }
    
    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
    
    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
  
    }
    
    /* Style the active/current link*/
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    /* Float the link section to the right */
    .header-right {
      float: right;
    }
    
    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}

    h4{
      text-align: center;
      color: red;
      margin-top: 20px;
  }
  
  .Box{
      width: 80%;
      height: 270px;
      background: linen;
      box-sizing: border-box;
      border: 1px solid lightslategrey;
      box-shadow: 10px 10px 5px lightblue;
      border-radius: 25px;
      padding: 15px;
      margin-left: 120px;
      margin-top: 30px;
      font-size: 18px;
  }

  .Box1{
    width: 80%;
    height: 150px;
    background: linen;
    box-sizing: border-box;
    border: 1px solid lightslategrey;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 25px;
    padding: 15px;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 18px;
}

  h3{
    text-align: center;
    color: blue;
    margin-top: 20px;
  }

  ul{
    padding-top: 10px;
    padding-left: 2%;
  }

  .b{
    background-color: white;
    text-align: center;
    font-size: 25px;
  }

 
 .btn {
   background-color: blue;
    color: #ffffff;
    transition: background-color 0.5s ease;
    margin-left: 8rem;
    margin-bottom: 5rem;
    margin-top: 50px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
   
}

